.pixel-slide {
	position: relative;
}
.pixel-slide .content-slide {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.pixel-slide .content-slide .content-title {
	padding: 8px;
	background-color: rgba(0,0,0,0.65);
	color:#eee;
	position: absolute;
	bottom: 0;
}
.pixel-slide .page-slide {
	position: absolute;
	top: 0;
	right: 0;
	padding:8px;
}
.pixel-slide .page-slide span{
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.35);
	margin: 0 2px;
	cursor: pointer;
}
.pixel-slide .caption-smart {
	color:#fff;
	text-shadow: 2px 2px 3px #333;
	position: absolute;
	display: none;
	opacity:0;
}